<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Taxisurfr</title>

</head>

<body>
<table>
    <tr>
      <td height="34" class="tit"><strong>Feedback Request from Arugam Bay Taxi</strong></td>
    	<td>
		</td>
    	<caption></caption>
    </tr>
	</table>
	
	<table>
    <tr>
		  <p>Hey ___NAME__,
thanks for travelling to Arugam Bay with our taxi service.</p>

<p>Were you satisfied with your ride? 

<p>Filling out the feedback form on the link below is the best way to help us improve our service.</p>  
<p>It informs the taxi contractor where there is room for improvement and also signals trust to fellow passengers who have not yet used the service.</p>
___LINK__
<p>Looking forward to seeing you next season.</p>
Kind regards</p>

				<table>
				<tr><td>Arugam Bay Taxi Initiative</td></tr>
				<tr><td>SVH, Arugam Bay</td></tr>
				<tr><td>PottuVille</td></tr>
				<tr><td>SVH, Arugam Bay</td></tr>
				<tr><td>E.P.</td></tr>
				<tr><td>32 500</td></tr>
				<tr><td>Sri Lanka</td></tr>
				<tr><td>http://www.arugam.info/abay-taxi-initiative/</td></tr>
				</table>
	

</body>
</html>
